.vscode/
.DS_Store
node_modules/

/.cache
/build
/server-build
/public/build
/coverage
tsconfig.tsbuildinfo
/prisma/sqlite.db
/prisma/sqlite.db-journal
/app/utils/prisma-generated.server

other/postcss.ignored

*.local.*

.env
.env.production
.envrc
/test-results/
/playwright-report/
/playwright/.cache/
/other/cache.db

*.bkp.*

*.heapsnapshot

*.db-journal
.wrangler