.vscode/
.DS_Store
node_modules/

/.cache
/server-build
/public/build
/coverage
/cypress/videos
/cypress/screenshots

storybook/storybook-static

# these are copied from the root dir
storybook/tailwind.config.js
storybook/postcss.config.js

/other/google-app-creds.json

.env
