# fly.toml file generated for withered-frost-3196 on 2021-05-28T15:49:41-06:00

app = "withered-frost-3196"

kill_signal = "SIGINT"
kill_timeout = 5

[env]
  PORT = "8080"
  CYPRESS_INSTALL_BINARY = "0"
  HUSKY_SKIP_INSTALL = "1"
  NODE_ENV = "production"
  FLY = "true"
  PRIMARY_REGION = "dfw"

[deploy]
  release_command = "npx prisma migrate deploy"

# IDEA: add back statics config here (fa0fbe9)

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 200
    soft_limit = 150
    type = "connections"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "10s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"
