.parallax {
  --allow-motion: 1;
  transform: rotateX(calc(((var(--rx, 0) * var(--range-y, 0)) * var(--allow-motion)) * 1deg))
    rotateY(calc(((var(--ry, 0) * var(--range-x, 0)) * var(--allow-motion)) * 1deg))
    rotate(calc(((var(--r, 0) * var(--range-x, 0)) * var(--allow-motion)) * 1deg));
  transform-style: preserve-3d;
  /* Trick to make the perfect square */
  padding-bottom: 100%;
  transition: transform 0.25s;
}

.parallax__wrapper {
  perspective: 60vmin;
  transform: translate3d(0, 0, 100vmin);
  transform-style: preserve-3d;
}

.parallax__item {
  left: calc(var(--x, 50) * 1%);
  top: calc(var(--y, 50) * 1%);
  height: calc(var(--height, auto) * 1%);
  width: calc(var(--width, auto) * 1%);
  transform: translate(-50%, -50%)
    translate3d(
      calc(((var(--mx, 0) * var(--range-x, 0)) * var(--allow-motion)) * 1%),
      calc(((var(--my, 0) * var(--range-y, 0)) * var(--allow-motion)) * 1%),
      calc(var(--z, 0) * 1vmin)
    )
    rotateX(calc(((var(--rx, 0) * var(--range-y, 0)) * var(--allow-motion)) * 1deg))
    rotateY(calc(((var(--ry, 0) * var(--range-x, 0)) * var(--allow-motion)) * 1deg))
    rotate(calc(((var(--r, 0) * var(--range-x, 0)) * var(--allow-motion)) * 1deg));
  transform-style: preserve-3d;
  transition: transform 0.25s;
}

.kody-segment {
  /* background-image: url("https://assets.codepen.io/605876/kody-spritesheet.png"); */
  background-image: url("https://res.cloudinary.com/jh3yy/image/upload/f_auto,q_auto/v1633865338/Projects/kody-spritesheet-all_ak8clo.png");
  height: 100%;
  width: 100%;
  background-position: calc(var(--pos-x, 0) * 1%) calc(var(--pos-y, 0) * 1%);
  background-size: calc(var(--size, 0) * 1%);
}

@media(prefers-reduced-motion: reduce) {
  .parallax {
    --allow-motion: 0;
  }
}
@media (hover: none) {
  .parallax {
    --allow-motion: 0;
  }
}