:focus:not(:focus-visible) {
  outline: none;
}

body {
  font-family: Century Gothic, Futura, sans-serif;
}

/*
  The page supports both dark and light color schemes,
  and the page author prefers dark.
*/
:root {
  color-scheme: dark light;
}
