/* code syntax highlighting */
/* dark is default: */
pre {
  --base00: #011627; /* editor background */
  --base01: #2d2d2d; /* unused (currently) */
  --base02: #424242; /* unused (currently) */
  --base03: #637777; /* code comments */
  --base04: #555555; /* unused (currently) */
  --base05: #d6deeb; /* fallback font color */
  --base06: #c8c8c8; /* unused (currently) */
  --base07: #fafafa; /* unused (currently) */
  --base08: #d7dbe0; /* variable references */
  --base09: #f78c6c; /* numbers */
  --base0A: #c792ea; /* keywords */
  --base0B: #ecc48d; /* strings */
  --base0C: #f78c6c; /* escape characters in strings */
  --base0D: #82aaff; /* function calls */
  --base0E: #c792ea; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

.light pre {
  --base00: #f3f3f3; /* editor background */
  --base01: #e0e0e0; /* unused (currently) */
  --base02: #d6d6d6; /* unused (currently) */
  --base03: #989fb1; /* code comments */
  --base04: #969896; /* unused (currently) */
  --base05: #2e3039; /* fallback font color */
  --base06: #282a2e; /* unused (currently) */
  --base07: #1d1f21; /* unused (currently) */
  --base08: #403f53; /* variable references */
  --base09: #aa0982; /* numbers */
  --base0A: #994cc3; /* keywords */
  --base0B: #c96765; /* strings */
  --base0C: #aa0982; /* escape characters in strings */
  --base0D: #4876d6; /* function calls */
  --base0E: #994cc3; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

/*
* This un-sets some styles in tailwind/typography for when I really don't want
* list items to display like list items. (Like for the list of translations)
*/
.prose ul.list-none > li {
  padding-left: unset;
}
.prose ul.list-none > li::before {
  content: unset;
}

.prose pre[data-line-numbers='true']:not([data-lang='sh']) {
  padding-left: 0rem;
  padding-right: 0rem;
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before {
  padding-left: 0rem;
  content: attr(data-line-number);
  text-align: right;
  display: inline-block;
  width: 3.5rem;
  color: var(--base03);
  padding-right: 1.5rem;
  position: sticky;
  left: 0;
  background-color: var(--base00);
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before
  .codeblock-line[data-highlight='true']:before {
  background: var(--base0E);
}

.prose pre[data-add]:not([data-lang='sh']) [data-diff-line-number]:before,
.prose pre[data-remove]:not([data-lang='sh']) [data-diff-line-number]:before {
  content: attr(data-diff-line-number);
}

.prose pre > code {
  display: inline-block;
  min-width: 100%;
}

.codeblock-line {
  display: block;
  position: relative;
  padding-right: 1rem;
}

.codeblock-line[data-highlight='true']:after,
.prose pre[data-remove] .codeblock-line[data-remove='true']:after,
.prose pre[data-add] .codeblock-line[data-add='true']:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.15;
}

.codeblock-line[data-highlight='true']:before {
  border-left: 6px solid var(--base0E);
}

.codeblock-line[data-highlight='true']:after {
  background: var(--base0E);
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:before {
  content: '-';
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:after {
  background: var(--color-red-500);
}

.prose pre[data-add] .codeblock-line[data-add='true']:before {
  content: '+';
}

.prose pre[data-add] .codeblock-line[data-add='true']:after {
  background: var(--color-green-500);
}

.prose pre {
  position: relative;
}

.prose pre[data-filename]:before {
  content: attr(data-filename);
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 0.7rem;
  opacity: 0.7;
}

.prose pre[data-lang]:after {
  content: attr(data-lang);
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 0.7rem;
  opacity: 0.7;
}

.prose callout-info p,
.prose callout-warning p,
.prose callout-danger p,
.prose callout-success p {
  margin-bottom: 0;
}

.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  margin-top: 0;
  margin-bottom: 2rem;
}

.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  display: block;
  border-left: solid 4px;
  padding: 0.5rem 1rem;
  position: relative;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 0.875rem;
}

.prose callout-info:before,
.prose callout-warning:before,
.prose callout-danger:before,
.prose callout-success:before {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.1;
  pointer-events: none;
}

/* the warning yellow is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-warning {
  color: #676000;
}
.light .prose callout-warning:before {
  background: #ffd800;
}
.prose callout-warning {
  color: #ffd644;
}
.prose callout-warning:before {
  background: #ffd644;
}

.prose callout-info {
  color: #4b96ff;
}
.prose callout-info:before {
  background: #4b96ff;
}

.prose callout-danger {
  color: #ff4545;
}
.prose callout-danger:before {
  background: #ff4545;
}

.prose callout-success {
  color: #30c85e;
}
.prose callout-success:before {
  background: #30c85e;
}

/* The twitter embed HTML is custom-generated in our utils/twitter.server.ts */
.prose .tweet-embed {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--color-gray-200);
  border-radius: 12px;
  padding: 12px 16px 4px 16px;
}

.dark .prose .tweet-embed {
  border: 1px solid var(--color-gray-700);
}

.prose .tweet-embed blockquote {
  background-color: unset;
  margin: 0;
  white-space: break-spaces;
  padding: 0px;
  border: 0px;
  line-height: 24px;
}

.prose .tweet-embed .tweet-author {
  font-size: 0.9rem;
  line-height: 20px;
  text-decoration: none;
  padding-bottom: 12px;
}

.prose .tweet-embed .tweet-author b {
  display: block;
  font-weight: 700;
  font-size: 0.85rem;
}

.prose .tweet-embed .tweet-author:hover,
.prose .tweet-embed .tweet-author:focus {
  text-decoration: underline;
}

.prose .tweet-embed .tweet-author img {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 4px;
  margin-bottom: 0px;
}

.prose .tweet-embed .tweet-media-continer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  max-height: 366px;
  margin-top: 12px;
  border-radius: 12px;
  overflow: hidden;
}

.prose .tweet-embed .tweet-quoted {
  /* I mean... it works and looks nice so... */
  zoom: 0.85;
}

.prose .tweet-embed .tweet-quoted .tweet-media-continer {
  max-height: 160px;
}

.prose .tweet-embed .tweet-media-continer img {
  margin-bottom: 0px;
}

.prose .tweet-embed .tweet-ref-metadata {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--color-gray-200);
  margin-top: 12px;
  border-radius: 0.5rem;
}
.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-title {
  border-top: 1px solid var(--color-gray-700);
  padding: 4px 12px;
  font-size: 0.9rem;
}
.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-description {
  padding: 0 12px 4px 12px;
  font-size: 0.8rem;
}

.prose .tweet-embed .tweet-ref-metadata .tweet-ref-metadata-domain {
  padding: 0 12px 4px 12px;
  font-size: 0.8rem;
}

.prose .tweet-embed .tweet-ref-metadata:hover,
.prose .tweet-embed .tweet-ref-metadata:focus {
  text-decoration: none;
}
.prose .tweet-embed .tweet-ref-metadata:hover .tweet-ref-metadata-domain,
.prose .tweet-embed .tweet-ref-metadata:focus .tweet-ref-metadata-domain {
  text-decoration: underline;
}

.dark .prose .tweet-embed .tweet-ref-metadata {
  border: 1px solid var(--color-gray-700);
}

.prose .tweet-embed .tweet-ref-metadata img {
  max-height: 300px;
}

.prose .tweet-embed .tweet-time a {
  font-size: 0.85rem;
  line-height: 32px;
  height: 32px;
  text-decoration: none;
}

.prose .tweet-embed .tweet-time a:hover,
.prose .tweet-embed .tweet-time a:focus {
  text-decoration: underline;
}

.prose .tweet-embed .tweet-stats {
  display: flex;
  align-items: center;
}

.prose .tweet-embed .tweet-stats svg {
  height: 20px;
  width: 20px;
  margin-right: 4px;
}

.prose .tweet-embed .tweet-stats svg:first-child {
  padding-left: 0px;
}

.prose .tweet-embed .tweet-stats a {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: inherit;
  text-decoration: none;
}

.prose .tweet-embed .tweet-stats a.tweet-like:hover,
.prose .tweet-embed .tweet-stats a.tweet-like:focus {
  color: rgb(224, 36, 94);
}

.prose .tweet-embed .tweet-stats a.tweet-reply:hover,
.prose .tweet-embed .tweet-stats a.tweet-reply:focus {
  color: rgb(29, 161, 242);
}

.prose .tweet-embed .tweet-stats a.tweet-retweet:hover,
.prose .tweet-embed .tweet-stats a.tweet-retweet:focus {
  color: #19cf86;
}

.prose .tweet-embed .tweet-stats svg path {
  fill: currentColor;
}
