/* code syntax highlighting */
/* dark is default: */
pre {
  --base00: #011627; /* editor background */
  --base01: #2d2d2d; /* unused (currently) */
  --base02: #424242; /* unused (currently) */
  --base03: #637777; /* code comments */
  --base04: #555555; /* unused (currently) */
  --base05: #d6deeb; /* fallback font color */
  --base06: #c8c8c8; /* unused (currently) */
  --base07: #fafafa; /* unused (currently) */
  --base08: #d7dbe0; /* variable references */
  --base09: #f78c6c; /* numbers */
  --base0A: #c792ea; /* keywords */
  --base0B: #ecc48d; /* strings */
  --base0C: #f78c6c; /* escape characters in strings */
  --base0D: #82aaff; /* function calls */
  --base0E: #c792ea; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

.light pre {
  --base00: #f3f3f3; /* editor background */
  --base01: #e0e0e0; /* unused (currently) */
  --base02: #d6d6d6; /* unused (currently) */
  --base03: #989fb1; /* code comments */
  --base04: #969896; /* unused (currently) */
  --base05: #2e3039; /* fallback font color */
  --base06: #282a2e; /* unused (currently) */
  --base07: #1d1f21; /* unused (currently) */
  --base08: #403f53; /* variable references */
  --base09: #aa0982; /* numbers */
  --base0A: #994cc3; /* keywords */
  --base0B: #c96765; /* strings */
  --base0C: #aa0982; /* escape characters in strings */
  --base0D: #4876d6; /* function calls */
  --base0E: #994cc3; /* operators */
  --base0F: #d3423e; /* "Embedded" (whatever that means) */
}

/*
* This un-sets some styles in tailwind/typography for when I really don't want
* list items to display like list items. (Like for the list of translations)
*/
.prose ul.list-none > li {
  padding-left: unset;
}
.prose ul.list-none > li::before {
  content: unset;
}

.prose pre[data-line-numbers='true']:not([data-lang='sh']) {
  padding-left: 0rem;
  padding-right: 0rem;
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before {
  padding-left: 0rem;
  content: attr(data-line-number);
  text-align: right;
  display: inline-block;
  width: 3.5rem;
  color: var(--base03);
  padding-right: 1.5rem;
  position: sticky;
  left: 0;
  background-color: var(--base00);
}

.prose
  pre[data-line-numbers='true']:not([data-lang='sh'])
  [data-line-number]:before
  .codeblock-line[data-highlight='true']:before {
  background: var(--base0E);
}

.prose pre[data-add]:not([data-lang='sh']) [data-diff-line-number]:before,
.prose pre[data-remove]:not([data-lang='sh']) [data-diff-line-number]:before {
  content: attr(data-diff-line-number);
}

.prose pre > code {
  display: inline-block;
  min-width: 100%;
}

.codeblock-line {
  display: block;
  position: relative;
  padding-right: 1rem;
}

.codeblock-line[data-highlight='true']:after,
.prose pre[data-remove] .codeblock-line[data-remove='true']:after,
.prose pre[data-add] .codeblock-line[data-add='true']:after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.15;
}

.codeblock-line[data-highlight='true']:before {
  border-left: 6px solid var(--base0E);
}

.codeblock-line[data-highlight='true']:after {
  background: var(--base0E);
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:before {
  content: '-';
}

.prose pre[data-remove] .codeblock-line[data-remove='true']:after {
  background: var(--color-red-500);
}

.prose pre[data-add] .codeblock-line[data-add='true']:before {
  content: '+';
}

.prose pre[data-add] .codeblock-line[data-add='true']:after {
  background: var(--color-green-500);
}

.prose pre {
  position: relative;
}

.prose pre[data-filename]:before {
  content: attr(data-filename);
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 0.7rem;
  opacity: 0.7;
}

.prose pre[data-lang]:after {
  content: attr(data-lang);
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 0.7rem;
  opacity: 0.7;
}

.prose callout-info p,
.prose callout-warning p,
.prose callout-danger p,
.prose callout-success p {
  margin-bottom: 0;
}

.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  margin-top: 0;
  margin-bottom: 2rem;
}

.prose callout-info,
.prose callout-warning,
.prose callout-danger,
.prose callout-success {
  display: block;
  border-left: solid 4px;
  padding: 0.5rem 1rem;
  position: relative;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 0.875rem;
}

.prose callout-info:before,
.prose callout-warning:before,
.prose callout-danger:before,
.prose callout-success:before {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  content: '';
  position: absolute;
  inset: 0;
  opacity: 0.1;
  pointer-events: none;
}

/* the warning yellow is really inaccessible in light mode, so we have a special case for light mode */
.light .prose callout-warning {
  color: #676000;
}
.light .prose callout-warning:before {
  background: #ffd800;
}
.prose callout-warning {
  color: #ffd644;
}
.prose callout-warning:before {
  background: #ffd644;
}

.prose callout-info {
  color: #4b96ff;
}
.prose callout-info:before {
  background: #4b96ff;
}

.prose callout-danger {
  color: #ff4545;
}
.prose callout-danger:before {
  background: #ff4545;
}

.prose callout-success {
  color: #30c85e;
}
.prose callout-success:before {
  background: #30c85e;
}
