/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
@tailwind screens;

/* tailwind is configured to prefer this font */
@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Medium.woff2') format('woff2'),
    url('/fonts/Matter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matter';
  src: url('/fonts/Matter-Regular.woff2') format('woff2'),
    url('/fonts/Matter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
